.cities-list {
  position: relative;
  line-height: 3em;

  li {
    display: inline-block;
    line-height: inherit;
    margin: 0 10px;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: #333;

      &.active {
        color: #000;
      }
    }
  }
}