<section class="weather-singleCity">

    <div class="singleCity-infoCity">

        <cities-switcher></cities-switcher>

        <a ng-click="$ctrl.saveCity()" class="btn-addCity">
            <svg viewBox="0 0 24 24">
                <path d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M13,7H11V11H7V13H11V17H13V13H17V11H13V7Z" />
            </svg>
        </a>

    </div>

    <i class="icon-weather wi" ng-class="::$ctrl.weatherIcon"></i>
    <div class="current-temperature">
        <span>{{::$ctrl.weather.currentTemp}}</span><span>°</span>
    </div>
    <div class="weather-desc">
        {{::$ctrl.weather.description}}
    </div>
    <div class="weather-wind">
        Wind:
        {{::$ctrl.windDirection}}
        {{::$ctrl.weather.wind.speed}}m/s
    </div>
    <div class="weather-humidity">
        Humidity:
        {{::$ctrl.weather.humidity}}%
    </div>

    <section class="weather-singleCity-forecast">
        <ul>
            <li ng-repeat="(key, value) in $ctrl.weatherForecast" ng-if="value.maxTempDay">
                <div>{{::key}}</div>
                <div class="icon wi" ng-class="value.weatherIconDay"></div>
                <div>
                    <span class="weather-maxTempDay">{{::value.maxTempDay}}°</span>
                    <span class="weather-minTempDay">{{::value.minTempDay}}°</span>
                </div>
            </li>
        </ul>
    </section>

    <section class="weather-location">
        <div class="weather-location-weekday">{{ ::$ctrl.currentCityTime.timestampMs | date : 'EEEE' : 'UTC'}}</div>
        <div class="weather-location-date">
            <span>{{ ::$ctrl.currentCityTime.timestampMs | date : "MMMM d, y ' - ' H:mm" : 'UTC' }}</span>
        </div>
    </section>

</section>