<section class="cities-switcher">

    <form name="form" ng-submit="$ctrl.changeCity()">

        <span>{{::$ctrl.currentCountry}}</span>,
        <span>
            <input name="cityName" class="cities-switcher-name" type="text"
                   ng-style="{'width': $ctrl.currentCityFieldWidth+'px'}"
                   ng-focus="focus=true" ng-blur="focus=false"
                   ng-model="$ctrl.currentCity" required/>
            <p class="cities-help-block" ng-show="form.cityName.$pristine">
                enter your city
            </p>
            <p class="cities-help-block red" ng-show="form.cityName.$dirty && focus">
                press enter to continue
            </p>
        </span>
        <span class="fake-cityName" style="visibility: hidden">
            {{$ctrl.currentCity}}
        </span>

    </form>


</section>

